@model SystemViewModels.Reports.YearlyAttendanceSheetViewModel
 @*<style type="text/css">

        @@media print,screen {
            @@page {
                margin: 0;
                size: landscape !important;
            }

            body {
                writing-mode: horizontal-tb;
            }
        }
    </style>*@
    <style type="text/css">
        @@media screen {
            #printSection {
                display: none;
            }
        }

        @@media print {
            @@Page {
                size: landscape;
                margin: 0.5cm;
            }

            body {
                -webkit-print-color-adjust: exact;
                font-family: 'Times New Roman';
            }

                body * {
                    visibility: hidden;
                }

            table, tbody, thead, tr, th, td {
                border: 2px solid black;
            }

            #printSection, #printSection * {
                -webkit-print-color-adjust: exact;
                visibility: visible;
            }

            #printSection {
                -webkit-print-color-adjust: exact;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    </style>
    <div id="printThis">
        @{ Html.RenderPartial("~/Views/Shared/_ReportHeader.cshtml", Model.Header);}
        <table class="table table-bordered" border="1" style="width:100%;margin:0px;">
            <thead>
                <tr>
                    <th class="text-center">महिना</th>
                    <th class="text-center">१</th>
                    <th class="text-center">२</th>
                    <th class="text-center">३</th>
                    <th class="text-center">४</th>
                    <th class="text-center">५</th>
                    <th class="text-center">६</th>
                    <th class="text-center">७</th>
                    <th class="text-center">८</th>
                    <th class="text-center">९</th>
                    <th class="text-center">१०</th>
                    <th class="text-center">११</th>
                    <th class="text-center">१२</th>
                    <th class="text-center">१३</th>
                    <th class="text-center">१४</th>
                    <th class="text-center">१५</th>
                    <th class="text-center">१६</th>
                    <th class="text-center">१७</th>
                    <th class="text-center">१८</th>
                    <th class="text-center">१९</th>
                    <th class="text-center">२०</th>
                    <th class="text-center">२१</th>
                    <th class="text-center">२२</th>
                    <th class="text-center">२३</th>
                    <th class="text-center">२४</th>
                    <th class="text-center">२५</th>
                    <th class="text-center">२६</th>
                    <th class="text-center">२७</th>
                    <th class="text-center">२८</th>
                    <th class="text-center">२९</th>
                    <th class="text-center">३०</th>
                    <th class="text-center">३१</th>
                    <th class="text-center">३२</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DBModelList)
                {
                    <tr>
                        <td class="blue text-center">
                            <i class="ace-icon fa bigger-130">@item.NepaliMonth</i>
                        </td>
                        <td style="background-color:@item.C1 ;" class="text-center">@item.A1 </td>
                        <td style="background-color:@item.C2 ;" class="text-center">@item.A2 </td>
                        <td style="background-color:@item.C3 ;" class="text-center">@item.A3 </td>
                        <td style="background-color:@item.C4 ;" class="text-center">@item.A4 </td>
                        <td style="background-color:@item.C5 ;" class="text-center">@item.A5 </td>
                        <td style="background-color:@item.C6 ;" class="text-center">@item.A6 </td>
                        <td style="background-color:@item.C7 ;" class="text-center">@item.A7 </td>
                        <td style="background-color:@item.C8 ;" class="text-center">@item.A8 </td>
                        <td style="background-color:@item.C9 ;" class="text-center">@item.A9 </td>
                        <td style="background-color:@item.C10;" class="text-center">@item.A10</td>
                        <td style="background-color:@item.C11;" class="text-center">@item.A11</td>
                        <td style="background-color:@item.C12;" class="text-center">@item.A12</td>
                        <td style="background-color:@item.C13;" class="text-center">@item.A13</td>
                        <td style="background-color:@item.C14;" class="text-center">@item.A14</td>
                        <td style="background-color:@item.C15;" class="text-center">@item.A15</td>
                        <td style="background-color:@item.C16;" class="text-center">@item.A16</td>
                        <td style="background-color:@item.C17;" class="text-center">@item.A17</td>
                        <td style="background-color:@item.C18;" class="text-center">@item.A18</td>
                        <td style="background-color:@item.C19;" class="text-center">@item.A19</td>
                        <td style="background-color:@item.C20;" class="text-center">@item.A20</td>
                        <td style="background-color:@item.C21;" class="text-center">@item.A21</td>
                        <td style="background-color:@item.C22;" class="text-center">@item.A22</td>
                        <td style="background-color:@item.C23;" class="text-center">@item.A23</td>
                        <td style="background-color:@item.C24;" class="text-center">@item.A24</td>
                        <td style="background-color:@item.C25;" class="text-center">@item.A25</td>
                        <td style="background-color:@item.C26;" class="text-center">@item.A26</td>
                        <td style="background-color:@item.C27;" class="text-center">@item.A27</td>
                        <td style="background-color:@item.C28;" class="text-center">@item.A28</td>
                        <td style="background-color:@item.C29;" class="text-center">@item.A29</td>
                        <td style="background-color:@item.C30;" class="text-center">@item.A30</td>
                        <td style="background-color:@item.C31;" class="text-center">@item.A31</td>
                        <td style="background-color:@item.C32;" class="text-center">@item.A32</td>
                    </tr>
                }
            </tbody>
        </table>
        @{ Html.RenderPartial("~/Views/Shared/_ReportFooter.cshtml", Model.Header);}
    </div>


@*<script>$('#btnPrint').click(function () {
            var mywindow = window.open('', 'प्रिन्ट', 'height=1300,width=1500');
            mywindow.document.write('<html><head><title>e-Attendance System बाट प्रिन्ट गरिएको</title>');
            mywindow.document.write('</head><body >');
            mywindow.document.write($(document.getElementById("printThis")).html());
            mywindow.document.write('</body></html>');
            mywindow.focus();
            mywindow.print();
    });
        </script>*@
<script type="text/javascript">
    function ExcelReport(div) {
        //window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('div[id$=' + div + ']').html()));
        //e.preventDefault();
        var y = $('div[id$=' + div + ']');
        var z = $('.non-print', y).remove();
        //$('.print', y).remove();
        console.log(z);
        var x = encodeURIComponent($('div[id$=' + div + ']').html());
        var z = $('.non-print', y).remove();
        debugger
        window.open('data:application/vnd.ms-excel,' + x);
        e.preventDefault();
    }
</script>
<script src="~/Scripts/printThis.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnPrint').click(function () {
            $('#printThis').printThis();
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('table').on('scroll', function () {
            $("#" + this.id + " > *").width($(this).width() + $(this).scrollLeft());
        });
    });
</script>


