@model SystemViewModels.Reports.MonthlyAttendanceSummaryViewModel
<div id="printThis">
    @{ Html.RenderPartial("~/Views/Shared/_ReportHeader.cshtml", Model.Header);}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">क.संकेत नं.</th>
                <th>कर्मचारीको नाम</th>
                <th class="ace-icon">पद</th>
                <th class="text-center">जम्मा महिना दिन</th>
                <th class="text-center">सप्ताहांत</th>
                <th class="text-center">सार्वजनिक विदा</th>
                <th class="text-center">उपस्थित हुनुपर्ने दिन</th>
                <th class="text-center">उपस्थित दिन</th>
                <th class="text-center">काजमा</th>
                <th class="text-center">विदामा</th>
                <th class="text-center">काम गर्ने </th>
                <th class="text-center">काम गरेको</th>
                <th class="text-center">ओटी</th>
                <th class="text-center">चेक आउट गरेको दिन</th>
                <th class="text-center">ढिला आएको दिन</th>
                <th class="text-center">छिटो गएको दिन</th>
                <th class="text-center">छिटो आएको दिन</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DBModelList)
            {
                <tr>
                    <td class="text-center">
                        @item.PISNumber
                    </td>
                    <td class="text-left">
                            @item.EmployeeName
                    </td>
                    <td class="text-center">
                       @item.HRDesignationShortName
                    </td>
                    <td class="text-center">
                        @item.TotalDays
                    </td>
                    <td class="text-center">
                        @item.TotalWeekend
                    </td>
                    <td class="text-center">
                        @item.TotalHoliday
                    </td>
                    <td class="text-center">
                       @item.TotalWorkingDays
                    </td>
                    <td class="text-center">
                        @item.TotalPresent
                    </td>
                    <td class="text-center">
                         @item.TotalKaaj
                    </td>
                    <td class="text-center">
                        @item.TotalLeave
                    </td>
                    <td class="text-center">
                        @item.TotalWorkingHr
                    </td>
                    <td class="text-center">
                       @item.TotalWorkedHr
                    </td>
                    <td class="text-center">
                        @item.TotalOverTime
                    </td>
                    <td class="text-center">
                        @item.TotalCheckout
                    </td>
                    <td class="text-center">
                         @item.TotalLateBy
                    </td>
                    <td class="text-center">
                         @item.TotalCheckOutEarly
                    </td>
                    <td class="text-center">
                         @item.TotalCheckInEarly
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/Scripts/printThis.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnPrint').click(function () {
            $('#printThis').printThis();
        });
    });
</script>
<script type="text/javascript">
    function ExcelReport(div) {
        window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('div[id$=' + div + ']').html()));
        e.preventDefault();
    }
</script>

