@model SystemViewModels.CompanyManagement.HRCompanyNotificationViewModel
<link href="~/Content/jasny-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jasny-bootstrap.min.js"></script>
<script src="~/Scripts/jquery.form.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/RequiredField.js"></script>
@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.DataModel.Id)
@Html.HiddenFor(model => model.PageNumber)
@Html.HiddenFor(model => model.PageSize)
@Html.HiddenFor(model => model.OrderingBy)
@Html.HiddenFor(model => model.OrderingDirection)
@Html.HiddenFor(model => model.SearchKey)
<div class="row">
    <div class="row col-md-12 col-sm-12 col-lg-12 form-group">
        <div class="col-md-6 col-sm-6 col-lg-6">
            @Html.LabelFor(model => model.DataModel.IdHRCompany, new { @class = "control-label" })
            @Html.DropDownListFor(model => model.DataModel.IdHRCompany, new SelectList(Model.DDLCompany, "Key", "Value"), new { @class = "form-control chosen-select" })
            @Html.ValidationMessageFor(model => model.DataModel.IdHRCompany)
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
            @Html.LabelFor(model => model.DataModel.IdNoticeBy, new { @class = "control-label" })
            @Html.DropDownListFor(model => model.DataModel.IdNoticeBy, new SelectList(Model.DDLEmployee, "Key", "Value"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DataModel.IdNoticeBy)
        </div>
    </div>
    <div class="row col-md-12 col-sm-12 col-lg-12 form-group">
        <div class="col-md-6 col-sm-6 col-lg-6">
            @Html.LabelFor(model => model.DataModel.NotificationTitle, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DataModel.NotificationTitle, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DataModel.NotificationTitle)
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
            @Html.LabelFor(model => model.DataModel.NotificationMessage, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DataModel.NotificationMessage, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DataModel.NotificationMessage)
        </div>
    </div>
    <div class="row col-md-12 col-sm-12 col-lg-12 form-group">
        <div class="col-md-6 col-sm-6 col-lg-6">
            @Html.LabelFor(model => model.DataModel.EffectiveFromDate, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DataModel.EffectiveFromDate, new { @class = "form-control datepicker" })
            @Html.ValidationMessageFor(model => model.DataModel.EffectiveFromDate)
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
            @Html.LabelFor(model => model.DataModel.EffectiveToDate, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DataModel.EffectiveToDate, new { @class = "form-control datepicker" })
            @Html.ValidationMessageFor(model => model.DataModel.EffectiveToDate)
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $('#DataModel_IdHRCompany').change(function () {
                PopulateEmployee($(this).val());
            });
            function PopulateEmployee(id) {
                $.ajax({
                    url: 'HRCompanyNotification/GetEmployee_Json',
                    type: 'GET',
                    data: { id: id },
                    dataType: 'json',
                    success: function (result) {
                        var options = $('#DataModel_IdNoticeBy');
                        $('option', options).remove();
                        $.each(result, function () {
                            options.append($('<option/>').val(this.Key).text(this.Value));
                        });
                    }
                });
            }
        });
    });
</script>
