@model SystemViewModels.CompanyManagement.HRDeviceViewModel
<script src="~/Scripts/jquery.form.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/RequiredField.js"></script>
@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.DataModel.Id)
@Html.HiddenFor(model => model.PageNumber)
@Html.HiddenFor(model => model.PageSize)
@Html.HiddenFor(model => model.OrderingBy)
@Html.HiddenFor(model => model.OrderingDirection)
@Html.HiddenFor(model => model.SearchKey)
<div class="row">
    <div class="row col-md-12 col-sm-12 col-lg-12 form-group">
        <div class="col-md-3 col-sm-3 col-lg-3">
            @Html.LabelFor(model => model.DataModel.IdHRCompany, new { @class = "control-label" })
            @Html.DropDownListFor(model => model.DataModel.IdHRCompany, new SelectList(Model.DDLCompany, "Key", "Value"), new { @class = "form-control", @readonly = "Readonly" })
            @Html.ValidationMessageFor(model => model.DataModel.IdHRCompany)
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            @Html.LabelFor(model => model.DataModel.HRDeviceName, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DataModel.HRDeviceName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DataModel.HRDeviceName)
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            @Html.LabelFor(model => model.DataModel.DeviceNumber, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DataModel.DeviceNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DataModel.DeviceNumber)
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            @Html.LabelFor(model => model.DataModel.IdHRDeviceModel, new { @class = "control-label" })
            @Html.DropDownListFor(model => model.DataModel.IdHRDeviceModel, new SelectList(Model.DDLDeviceModel, "Key", "Value"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DataModel.IdHRDeviceModel)
        </div>
    </div>
    <div class="row col-md-12 col-sm-12 col-lg-12 form-group">
        <div class="col-md-3 col-sm-3 col-lg-3">
            @Html.LabelFor(model => model.DataModel.SerialNumber, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DataModel.SerialNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DataModel.SerialNumber)
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            @Html.LabelFor(model => model.DataModel.CommunicationPort, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DataModel.CommunicationPort, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DataModel.CommunicationPort)
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            @Html.LabelFor(model => model.DataModel.SerialPort, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DataModel.SerialPort, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DataModel.SerialPort)
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            @Html.LabelFor(model => model.DataModel.IPAddress, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DataModel.IPAddress, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DataModel.IPAddress)
        </div>
    </div>
    <div class="row col-md-12 col-sm-12 col-lg-12 form-group">
        <div class="col-md-3 col-sm-3 col-lg-3">
            @Html.LabelFor(model => model.DataModel.IsActive, new { @class = "control-label" })
            @Html.CheckBoxFor(model => model.DataModel.IsActive, new { @class = "BSswitch" })
            @Html.ValidationMessageFor(model => model.DataModel.IsActive)
        </div>
    </div>
</div>


