@model SystemViewModels.SystemSetting.HREmployeeRoleViewModel
    @using SystemStores.ENUMData

<script src="~/Scripts/jquery.form.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/RequiredField.js"></script>
@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.DataModel.Id)
@Html.HiddenFor(model => model.PageNumber)
@Html.HiddenFor(model => model.PageSize)
@Html.HiddenFor(model => model.OrderingBy)
@Html.HiddenFor(model => model.OrderingDirection)
@Html.HiddenFor(model => model.SearchKey)


<div class="col-md-12 col-sm-12 col-lg-12">
    <table class="table table-border table-stripped table-hover">
        <colgroup>
            <col style="width:14%" />
            <col style="width:1%" />
            <col style="width:35%" />
            <col style="width:14%" />
            <col style="width:1%" />
            <col style="width:35%" />
        </colgroup>
        <tbody>
            <tr>
                <th class="text-right">@Html.LabelFor(model => model.DataModel.IdHRCompany, new { @class = "control-label" })</th>
                <th>:</th>
                <td>
                    @Html.DropDownListFor(model => model.DataModel.IdHRCompany, new SelectList(Model.DDLCompany, "Key", "Value"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DataModel.IdHRCompany)
                </td>
                <th class="text-right"> @Html.LabelFor(model => model.DataModel.HRRoleTitle, new { @class = "control-label" })</th>
                <th>:</th>
                <td>
                    @Html.TextBoxFor(model => model.DataModel.HRRoleTitle, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DataModel.HRRoleTitle)
                </td>
            </tr>
            <tr>
                <th class="text-right"> @Html.LabelFor(model => model.DataModel.IdRoleType, new { @class = "control-label" })</th>
                <th>:</th>
                <td>
                    @Html.DropDownListFor(model => model.DataModel.IdRoleType, new SelectList(Model.DDLRoleType, "Key", "Value"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DataModel.IdRoleType)
                </td>
                <th class="text-right">@Html.LabelFor(model => model.DataModel.IsActive, new { @class = "control-label" })</th>
                <th>:</th>
                <td>
                    @Html.CheckBoxFor(model => model.DataModel.IsActive, new { @class = "BSswitch" })
                    @Html.ValidationMessageFor(model => model.DataModel.IsActive)
                </td>
            </tr>
        </tbody>
    </table>
</div>

