@model SystemViewModels.SystemSetting.HRPublicHolidayViewModel

<div id="printThis">
    <table style="width: 100%;" aria-describedby="gbox_grid-table" role="grid" id="example" class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th class="ace-icon">आईडी</th>
                <th class="ace-icon">कार्यालय कोड</th>
                <th>नाम</th>
                <th class="ace-icon">संक्षिप्त</th>
                <th class="ace-icon">शुरुको मिति</th>
                <th class="ace-icon">अन्तिम मिति</th>
                <th class="ace-icon">पुरुषको लागि</th>
                <th class="ace-icon">महिलाको लागि</th>
                <th class="ace-icon">अपडेट गर्ने</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DBModelList)
            {
            <tr>
                <td class="ace-icon">@item.Id</td>
                <td class="ace-icon">
                    <i class="ace-icon fa bigger-110 badge badge-yellow">@item.HRCompany.HRCompanyCode.HRCompanyCodeTitle</i>
                </td>
                <td class="blue">
                    <i class="fa bigger-120">@item.HRPublicHolidayTitle</i>
                </td>
                <td class="ace-icon">
                    <i class="fa bigger-110 badge badge-yellow">@item.HRPublicHolidayShortName</i>
                </td>
                <td class="ace-icon">
                    <i class="ace-icon fa badge badge-success">@item.Fromdate.ToShortDateString()</i>
                </td>
                <td class="ace-icon">
                    <i class="ace-icon fa badge badge-danger">@item.ToDate.ToShortDateString()</i>
                </td>
                <td class="ace-icon">
                    <i class="ace-icon fa bigger-110 badge @(item.IsHolidayForMale?"badge-success":"badge-danger")">@(item.IsHolidayForMale ? "YES" : "NO")</i>
                </td>
                <td class="ace-icon">
                    <i class="ace-icon fa bigger-110 badge @(item.IsHolidayForFemale?"badge-success":"badge-danger")">@(item.IsHolidayForFemale ? "YES" : "NO")</i>
                </td>
                <td class="ace-icon">
                    <i class="ace-icon fa badge badge-grey">@item.UpdatedBy</i>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/Scripts/printThis.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnPrint').click(function () {
            $('#printThis').printThis();
        });
    });
</script>

