@model SystemViewModels.CompanyManagement.HRCompanyViewModelList
@using PagedList.Mvc;
<div id="replacetarget_">
    <div id="content" class="content">
        <div class="dataTables_wrapper">
            <div id="mask-container">
                <div id="mask"></div>
                <div class="table-responsive">
                    <table class="table table-border table-striped table-hover table-responsive">
                        <thead>
                            <tr>
                                <th class="ace-icon">आईडी</th>
                                <th class="ace-icon">प्रकार</th>
                                <th class="ace-icon">कोड</th>
                                <th>कार्यालय</th>
                                <th>देवनागरी</th>
                                <th class="ace-icon">जम्मा कर्मचारी</th>
                                <th class="ace-icon">शाखा/सेक्सन नं.</th>
                                <th class="ace-icon">हाजिरी उपकरण नं.</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DBModelList)
                            {
                                <tr>
                                    <td class="ace-icon">@item.Id</td>
                                    <td class="ace-icon">
                                        <i class="fa badge badge-info">@item.HRCompanyType.CompanyType</i>
                                    </td>
                                    <td class="ace-icon">@item.HRCompanyCode.HRCompanyCodeTitle</td>
                                    <td class="blue">
                                        <i class="ace-icon fa bigger-120">@item.CompanyName</i>
                                    </td>
                                    <td class="green">
                                        <i class="ace-icon fa bigger-120">@item.CompanyNameNP</i>
                                    </td>
                                    <td class="ace-icon">
                                        <i class="fa badge badge-info">@item.HREmployees.Count</i>
                                    </td>
                                    <td class="ace-icon">
                                        <i class="fa badge badge-info">@item.HRCompanyDivisions.Count</i>
                                    </td>
                                    <td class="ace-icon">
                                        <i class="fa badge badge-info">@item.HRDevices.Count</i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div aria-live="polite" role="status" id="example_info" class="dataTables_info">
                    <div class="row">
                        <div class="col-md-4">Showing @(Model.DBModelList.PageCount < Model.DBModelList.PageNumber ? 0 : Model.DBModelList.FirstItemOnPage) to @Model.DBModelList.LastItemOnPage of @Model.DBModelList.TotalItemCount entries in @Model.DBModelList.PageCount Pages</div>
                        <div class="col-md-8 dataTables_paginate paging_simple_numbers" id="example_paginate">@Html.PagedListPager(Model.DBModelList, page => Url.Action("_ListChildHRCompany", new { idHRCompany= Model.IdHRCompany, pageNumber = page, pageSize = Model.PageSize, orderingBy = Model.OrderingBy, orderingDirection = Model.OrderingDirection, searchKey = Model.SearchKey }))</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
