@model SystemViewModels.SystemSecurity.HREmployeeAttendanceHistoryViewModelList

@{
    ViewBag.Title = Model.HeaderTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="~/@Model.BreadCrumbBaseURL">@Model.BreadCrumbArea</a>
        </li>
        <li class="active">@Model.BreadCrumbTitle</li>
    </ul><!-- /.breadcrumb -->
    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <a class="nav-search-input" href="@Url.Action("_PrintHREmployeeAttendanceHistoryAsync",new { controller=Model.BreadCrumbController})" data-ajax-model="">
                    <i class="ace-icon fa fa-print nav-search-icon">Print</i>
                </a>
            </span>
            <span class="input-icon">
                <a class="nav-search-input" href="~/@Model.BreadCrumbBaseURL/_ExportHREmployeeAttendanceHistoryAsync">
                    <i class="ace-icon fa fa-file-excel-o nav-search-icon">Export</i>
                </a>
            </span>
            <span class="input-icon">
                @Html.DropDownListFor(model => model.PageNumber, new SelectList(AttendanceManagementSystem.Services.CommonServices.PageNumber), new { @class = "nav-search-input", @style = "width:55px;" })
            </span>
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                <i class="ace-icon fa fa-search nav-search-icon"></i>
            </span>
        </form>
    </div><!-- /.nav-search -->
</div>
<div class="page-content">
    @{ Html.RenderPartial("_SettingContainer");}
    <div class="row">
        <div id="replacetarget_AttendanceHistory" class="col-xs-12">
            @{ Html.RenderPartial("_ListHREmployeeAttendanceHistoryAsync");}
        </div>
    </div><!-- /.row -->
</div><!-- /.page-content -->

<script type="text/javascript">
    $(document).ready(function () {
        $('#PageNumber').change(function () {
        $('table,#mask').addClass('loading');
        $.ajax({
            url: '/@Model.BreadCrumbBaseURL/_ListHREmployeeAttendanceHistoryAsync',
            type: 'GET',
            data: { pageNumber: 1, pageSize: $(this).val(), orderingBy: '@Model.OrderingBy', orderingDirection: '@Model.OrderingDirection', searchKey:''},
            success: function (result) {
                if (result == '"_Login_"') {
                    window.location = "/Account/Login";
                    return;
                }
                $('#content').html(result);
                $('table,#mask').removeClass('loading');
            }
        });
    });
        $(function () {
        $.ajaxSetup({ cache: false });
            $('#Create_HREmployeeAttendanceHistory').click(function (e) {
            var url;
                url = '/@Model.BreadCrumbBaseURL' + '/_CreateHREmployeeAttendanceHistoryAsync';
            $('#myModalContent').load(url, function () {
                $('#myModal').modal({
                    keyboard: true
                }, 'show');
                bindAjaxForm(this);
            });
            return false;
        });
        });
    });
</script>

