@model SystemViewModels.CompanyManagement.HRCompanyHREmployeeCovidKaajViewModelList
@using PagedList.Mvc;
<div id="replacetarget">
    <div id="content" class="content">
        <div class="dataTables_wrapper">
            <div id="mask-container">
                <div id="mask"></div>
                <div class="table-responsive">
                    <table style="width: 100%;" aria-describedby="gbox_grid-table" role="grid" id="example" class="table table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th class="ace-icon"> कर्मचारीको नाम</th>
                                <th class="ace-icon">कार्यालय</th>
                                <th class="ace-icon">प्रकार</th>
                                <th class="ace-icon">स्थान</th>
                                <th class="ace-icon">आवेदन मिति  </th>
                                <th class="ace-icon">शुरुको मिति</th>
                                <th class="ace-icon">अन्तिम मिति</th>
                                <th class="ace-icon">स्वीकृत गर्ने</th>
                                <th class="ace-icon">अवस्था</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DBModelEmp)
                            {
                            <tr>
                              
                                <td class="ace-icon blue" >
                                    <i class="ace-icon fa bigger-120 " >@(item.HREmployee1?.HREmployeeNameNP)</i>
                                </td>
                                <td class="ace-icon">
                                    <i class="fa bigger-120 badge badge-yellow">@(item?.HRCompany?.HRCompanyCode?.HRCompanyCodeTitle)</i>
                                </td>
                                <td class="ace-icon green">
                                    <i class="ace-icon fa bigger-120">@(item?.KaajType?.TitleNP)</i>
                                </td>
                                <td class="ace-icon blue">
                                    <i class="ace-icon fa bigger-110">@item.KaajLocation</i>
                                </td>
                                <td class="ace-icon">
                                    <i class="fa bigger-110 badge badge-warning">@(string.Format("{0:yyyy-MM-dd}", item.CreatedOn.DateNp()))</i>
                                </td>
                                <td class="ace-icon">
                                    <i class="fa bigger-110 badge badge-success">@item.KaajFromNP</i>
                                </td>
                                <td class="ace-icon">
                                    <i class="fa bigger-110 badge badge-danger">@item.KaajToNP</i>
                                </td>
                                <td class="ace-icon blue">
                                    <i class="ace-icon fa bigger-120">@(item.HREmployee?.HREmployeeNameNP)</i>
                                </td>
                                <td class="ace-icon">
                                    <i class="ace-icon fa bigger-100 badge @(item.IdKaajStatus==1||item.IdKaajStatus==4?"badge-danger":"badge-success")">@item.HRCompanyLeaveStatusType.LeaveStatusTypeNP</i>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div aria-live="polite" role="status" id="example_info" class="dataTables_info">
                    <div class="row">
                        <div class="col-md-4">Showing @(Model.DBModelEmp.PageCount < Model.DBModelEmp.PageNumber ? 0 : Model.DBModelEmp.FirstItemOnPage) to @Model.DBModelEmp.LastItemOnPage of @Model.DBModelEmp.TotalItemCount entries in @Model.DBModelEmp.PageCount Pages</div>
                        <div class="col-md-8 dataTables_paginate paging_simple_numbers" id="example_paginate">@Html.PagedListPager(Model.DBModelEmp, page => Url.Action("_ListHRCompanyHREmployeeCovidKaajAsync", new { idHRCompany = Model.IdHRCompany, pageNumber = page, pageSize = Model.PageSize, orderingBy = Model.OrderingBy, orderingDirection = Model.OrderingDirection, searchKey = Model.SearchKey }))</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

