@model SystemViewModels.Reports.ShiftRoasterReportViewModelList
@using PagedList.Mvc;
<div id="replacetarget">
    <div id="content" class="content">
        <div class="dataTables_wrapper">
            <div id="mask-container">
                <div id="mask"></div>
                <div class="table-responsive scroll-table">
                    <table style="width: 100%;" aria-describedby="gbox_grid-table" role="grid" id="example" class="table table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th class="text-center">क.संकेत नं.</th>
                                <th>कर्मचारीको नाम</th>
                                <th class="ace-icon">पद</th>
                                <th class="text-center">मिति</th>
                                <th class="text-center">शिफ्ट शीर्षक</th>
                                <th class="text-center">चेकइन</th>
                                <th class="text-center">चेकआउट</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DBModelList)
                            {
                                <tr>
                                    <td class="text-center">
                                        <i class="ace-icon fa bigger-110 badge badge-yellow">@item.PISNumber</i>
                                    </td>
                                    <td class="blue">
                                        <i class="ace-icon fa bigger-130">@item.EmployeeName</i>
                                    </td>
                                    <td class="text-center">
                                        <i class="ace-icon fa bigger-110 badge badge-yellow">@item.HRDesignationShortName</i>
                                    </td>
                                    <td class="text-center">
                                        <i class="ace-icon fa bigger-110 badge badge-grey">@item.ShiftDate.DateNp()</i>
                                    </td>
                                    <td class="text-center">
                                        <i class="ace-icon fa bigger-110 badge badge-success">@item.ShiftTitle</i>
                                    </td>
                                    <td class="green">
                                        <i class="ace-icon fa bigger-130">@item.LoginTime</i>
                                    </td>
                                    <td class="text-center">
                                        <i class="ace-icon fa bigger-110 badge badge-danger">@item.LogoutTime</i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>