@model SystemViewModels.Reports.DatePunchedReportViewModel
@using PagedList.Mvc;


<div id="replacetarget">
    <div id="content" class="content">
        <div class="dataTables_wrapper">
            <div id="mask-container">
                <div id="mask"></div>
                <div class="table-responsive scroll-table">
                    <table style="width: 100%;" aria-describedby="gbox_grid-table" role="grid" id="example" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th colspan="3" class="text-center">कर्मचारीको</th>
                                @*<th colspan="7" class="text-center">दिन</th>
                                <th colspan="5" class="text-center">घण्टा</th>*@
                                @*<th colspan="4" class="text-center"></th>*@
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th class="text-center">संकेत नं.</th>
                                <th style="min-width:200px;">नाम</th>
                                <th class="ace-icon">पद</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DBModelList)
                            {
                                <tr>
                                    <td class="blue ace-icon">
                                        <i class="ace-icon fa bigger-110">@item.PISNumber</i>
                                    </td>
                                    <td>
                                        <a class="blue" href="@Model.BreadCrumbController/_ReadDatePunchedReportAsync?PISNumber=@item.PISNumber&idHRCompany=@Model.IdHRCompany&idHREmployee=@item.IdHREmployee&year=@Model.YearNp&month=@Model.MonthNp" data-ajax-model="">
                                        <i class="fa fa-search-plus bigger-130">
                                            @(item.EmployeeName)
                                        </i>
                                        </a>
                                    </td>
                                    <td class="ace-icon blue">
                                        <i class="ace-icon fa bigger-110">@item.HRDesignationShortName</i>
                                    </td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div aria-live="polite" role="status" id="example_info" class="dataTables_info">
                    <div class="row">
                        <div class="col-md-4">Showing @(Model.DBModelList.PageCount < Model.DBModelList.PageNumber ? 0 : Model.DBModelList.FirstItemOnPage) to @Model.DBModelList.LastItemOnPage of @Model.DBModelList.TotalItemCount entries in @Model.DBModelList.PageCount Pages</div>
                        <div class="col-md-8 dataTables_paginate paging_simple_numbers" id="example_paginate">@Html.PagedListPager(Model.DBModelList, page => Url.Action("_ListHREmployeeAsync", new { idHRCompany = Model.IdHRCompany, idHRCompanyDivision = Model.IdDivision, idJobStatus = Model.IdJobStatus, idHREmployee = Model.IdHREmployee, year = Model.YearNp, month = Model.MonthNp, pageNumber = page, pageSize = Model.PageSize, orderingBy = Model.OrderingBy, orderingDirection = Model.OrderingDirection, searchKey = Model.SearchKey }))</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






