@model SystemStores.GlobalModels.BreadCrumbModel
@using SystemStores.GlobalMethod;
@using SystemStores.ENUMData;

<style>

    .control-label {
        margin-bottom: 0px
    }

    .form-control {
        margin-top: -10px
    }
</style>
<div class="ace-settings-container" id="ace-settings-container">
    <div class="btn btn-app btn-xs btn-success ace-settings-btn" id="ace-settings-btn">
        <i class="ace-icon fa fa-cog bigger-130"></i>
    </div>
    <div class="ace-settings-box clearfix" id="ace-settings-box">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="form-group-mini">
                @Html.LabelFor(model => model.IdHRCompany, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.IdHRCompany, new SelectList(Model.DDLCompany, "Key", "Value"), new { @class = "form-control" })
            </div>
        </div>
        <div class="pull-right">
            <button class="btn btn-sm btn-success" id="Search_SystemPermissionByRole">
                @SystemGlobalMethod.GetButtonText(EnumGlobal.SubmitButtonText.Search)
            </button>
            <button class="btn btn-sm btn-info" id="Export_SystemPermissionByRole">
                @SystemGlobalMethod.GetButtonText(EnumGlobal.SubmitButtonText.Export)
            </button>
            <button class="btn btn-sm btn-default" id="Print_SystemPermissionByRole" data-ajax-model="">
                @SystemGlobalMethod.GetButtonText(EnumGlobal.SubmitButtonText.Print)
            </button>
        </div><!-- /.pull-left -->
    </div><!-- /.ace-settings-box -->
</div><!-- /.ace-settings-container -->
