@model SystemViewModels.EmployeeManagement.HREmployeeKaajHistoryViewModel

<div id="printThis">
    <table style="width: 100%;" aria-describedby="gbox_grid-table" role="grid" id="example" class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>आईडी</th>
                <th>काज दर्ता नं.</th>
                <th>कर्मचारीको नाम</th>
                <th>आवेदन मिति  </th>
                <th>शुरुको मिति</th>
                <th>अन्तिम मिति</th>
                <th>स्वीकृत गर्ने</th>
                <th>काजको कारण</th>
                <th>अवस्था</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DBModelList)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.KaajRegistrationNumber</td>
                    <td>@item.HREmployee1.HREmployeeName</td>
                    <td>@(string.Format("{0:yyyy-MM-dd}", item.CreatedOn.DateNp()))</td>
                    <td>@item.KaajFromDate.ToShortDateString()</td>
                    <td>@item.KaajToDate</td>
                    <td>@item.RecommendationBy</td>
                    <td>@item.KaajPurpose</td>
                    <td>@item.HRCompanyLeaveStatusType.LeaveStatusType</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/Scripts/printThis.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnPrint').click(function () {
            $('#printThis').printThis();
        });
    });
</script>
