@model SystemViewModels.CompanyManagement.HRCompanyHREmployeeShiftRoasterViewModel
<script src="~/Scripts/jquery.form.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/RequiredField.js"></script>
<script src="~/Scripts/CustomScript.js"></script>
<script src="~/Scripts/bootstrap-multiselect.min.js"></script>
@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.IdHREmployee)
@Html.HiddenFor(model => model.DataModel.IdHREmployee)
@Html.HiddenFor(model => model.DataModel.Id)
@Html.HiddenFor(model => model.IdHRCompany)
@Html.HiddenFor(model => model.PageNumber)
@Html.HiddenFor(model => model.PageSize)
@Html.HiddenFor(model => model.OrderingBy)
@Html.HiddenFor(model => model.OrderingDirection)
@Html.HiddenFor(model => model.SearchKey)

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4 class="text-center">@Model.DBEmployee.HREmployeeNameNP</h4>
        <h4 class="text-center">@(Model.DBEmployee?.HREmployeeJobHistories?.FirstOrDefault(x=>x.IsCurrentStatus)?.HRDesignation.HRDesignationTitle)</h4>
        <h4 class="text-center">@Model.DBEmployee.PISNumber</h4>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
        <div class="form-group row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.LabelFor(model => model.DataModel.EffectiveFromDateNP, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.DataModel.EffectiveFromDateNP, new { @class = "form-control", @readonly = "readonly", @style = "cursor:pointer" })
                @Html.ValidationMessageFor(model => model.DataModel.EffectiveFromDateNP)
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.LabelFor(model => model.DataModel.EffectiveToDateNP, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.DataModel.EffectiveToDateNP, new { @class = "form-control", @readonly = "readonly", @style = "cursor:pointer" })
                @Html.ValidationMessageFor(model => model.DataModel.EffectiveToDateNP)
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table class="table table-border table-striped">
                        <thead>
                            <tr>
                                <th>हप्ताको दिन</th>
                                <th>शिफ्ट शीर्षक</th>
                                <th>सप्ताहांत हो/होइन</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.DataModelList.Count; i++)
                            {
                                <tr>
                                    @Html.HiddenFor(model => model.DataModelList[i].IdDayOfWeekNP)
                                    @Html.HiddenFor(model => model.DataModelList[i].DOWNP)
                                    <td>
                                        @Model.DataModelList[i].DOWNP<br />
                                        @Html.ValidationMessageFor(model => model.DataModelList[i].DOWNP)
                                    </td>
                                    <td>
                                        <span class="dropdown-toggle"></span>
                                        @Html.ListBoxFor(model => model.DataModelList[i].DDLShiftRoasterSelected, new SelectList(Model.DDLHRCompanyShiftRoaster, "Key", "Value"), new { @class = "form-control drpdown", multiple = "multiple" })
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(model => model.DataModelList[i].IsWeekend, new { @class = "form-control switchYesNo" })
                                        @Html.ValidationMessageFor(model => model.DataModelList[i].IsWeekend)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
        <div class="table-responsive">
            <table class="table table-border table-hover table-striped">
                <caption class="text-center"><h4>कर्मचारी शिफ्ट  विवरण</h4></caption>
                <thead>
                    <tr>
                        <th class="text-center">हप्ताको दिन</th>
                        <th>शिफ्ट शीर्षक</th>
                        <th class="text-center">आउने समय</th>
                        <th class="text-center">जाने समय</th>
                        <th class="text-center">सप्ताहांत हो/होइन</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DBEmpModelList)
                    {
                        <tr>
                            <td class="ace-icon">
                                <i class="ace-icon bigger-100 fa badge badge-yellow">@item.DayOfWeekNP.DOWNP</i>
                            </td>
                            <td class="blue">
                                <i class="fa bigger-110">@(item.IdHRCompanyShiftRoaster == null ? "" : item.HRCompanyShiftRoaster.ShiftTitle)</i>
                            </td>
                            <td class="ace-icon">
                                <i class="fa badge badge-info bigger-130">@(item.IdHRCompanyShiftRoaster == null ? " " : item.HRCompanyShiftRoaster.LoginTime.ToString())</i>
                            </td>
                            <td class="ace-icon">
                                <i class="fa badge badge-info bigger-130">@(item.IdHRCompanyShiftRoaster == null ? " " : item.HRCompanyShiftRoaster.LogoutTime.ToString())</i>
                            </td>
                            <td class="ace-icon">
                                <div>
                                    <i class="ace-icon @(item.IsWeekend==true?"fa fa-thumbs-up green":"fa fa-thumbs-down red") bigger-130" aria-hidden="true"></i>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.drpdown').multiselect();
    });</script>
