@model SystemViewModels.DeviceManagement.HRDeviceModelViewModel
<script src="~/Scripts/jquery.form.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/RequiredField.js"></script>
@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.DataModel.Id)
@Html.HiddenFor(model => model.PageNumber)
@Html.HiddenFor(model => model.PageSize)
@Html.HiddenFor(model => model.OrderingBy)
@Html.HiddenFor(model => model.OrderingDirection)
@Html.HiddenFor(model => model.SearchKey)


<div class="col-md-12 col-lg-12 col-sm-12">
    <div class="row form-group">
        <div class="col-md-4 col-sm-4 col-lg-4">
            @Html.LabelFor(model => model.DataModel.HRDeviceModel1, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DataModel.HRDeviceModel1, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DataModel.HRDeviceModel1)
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4">
            @Html.LabelFor(model => model.DataModel.IsRealTime, new { @class = "control-label col-md-12 col-lg-12 col-sm-12" })
            @Html.CheckBoxFor(model => model.DataModel.IsRealTime, new { @class = "form-control BSswitch" })
            @Html.ValidationMessageFor(model => model.DataModel.IsRealTime)
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4">
            @Html.LabelFor(model => model.DataModel.IsActive, new { @class = "control-label col-md-12 col-lg-12 col-sm-12" })
            @Html.CheckBoxFor(model => model.DataModel.IsActive, new { @class = "form-control BSswitch" })
            @Html.ValidationMessageFor(model => model.DataModel.IsActive)
        </div>
    </div>
</div>


