@model SystemViewModels.SystemFeedback.SystemCommentViewModelList
@using PagedList.Mvc;
<div id="replacetarget">
    <div id="content" class="content">
        <div class="dataTables_wrapper">
            <div id="mask-container">
                <div id="mask"></div>
                <table style="width: 100%;" aria-describedby="gbox_grid-table" role="grid" id="example" class="table table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>आईडी</th>
                            <th>कार्यालयको नाम</th>
                            <th>कर्मचारीको नाम</th>
                            <th class="text-center">शीर्षक</th>
                            <th class="ace-icon">प्राथमिकता</th>
                            <th class="ace-icon">मिति</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DBModelList)
                        {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.HRCompany.CompanyName</td>
                            <td>@item.HREmployee.HREmployeeName</td>
                            <td>
                                <a id="Read_SystemComment" href="@Model.BreadCrumbController/_ReadSystemCommentResponseAsync?idHRCompnay=@item.Id&pageNumber=1&pageSize=10&orderingBy=@Model.OrderingBy&orderingDirection=@Model.OrderingDirection">
                                    <i class="ace-icon fa fa-search-plus bigger-130">
                                        @(item.CommentTitle)
                                    </i>
                                </a>
                            </td>
                            <td class="ace-icon">@Model.PriorityEnum</td>
                            
                        </tr>
                        }
                    </tbody>
                </table>
                <div aria-live="polite" role="status" id="example_info" class="dataTables_info">
                    <div class="row">
                        <div class="col-md-4">Showing @(Model.DBModelList.PageCount < Model.DBModelList.PageNumber ? 0 : Model.DBModelList.FirstItemOnPage) to @Model.DBModelList.LastItemOnPage of @Model.DBModelList.TotalItemCount entries in @Model.DBModelList.PageCount Pages</div>
                        <div class="col-md-8 dataTables_paginate paging_simple_numbers" id="example_paginate">@Html.PagedListPager(Model.DBModelList, page => Url.Action("_ListSystemCommentAsync", new { idHREmployee = Model.IdHREmployee, pageNumber = page, pageSize = Model.PageSize, orderingBy = Model.OrderingBy, orderingDirection = Model.OrderingDirection, searchKey = Model.SearchKey }))</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

