@model SystemViewModels.SystemSetting.HRCompanyLeaveTypeViewModelList
@using PagedList.Mvc;

<div id="replacetarget">
    <div id="content" class="content">
        <div class="dataTables_wrapper">
            <div id="mask-container">
                <div id="mask"></div>
                <div class="table-responsive">
                    <table style="width: 100%;" aria-describedby="gbox_grid-table" role="grid" id="example" class="table table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th class="ace-icon">आईडी</th>
                                <th class="ace-icon">कार्यालय</th>
                                <th>विदाको प्रकार</th>
                                <th class="ace-icon">संक्षिप्त</th>
                                <th class="ace-icon">सप्ताहांत समावेश</th>
                                <th class="ace-icon">विदा समावेश</th>
                                <th class="ace-icon">बचत विदा</th>
                                <th class="ace-icon">पुरुष मात्र</th>
                                <th class="ace-icon">महिला मात्र</th>
                                <th class="ace-icon">जम्मा दिन</th>
                                <th class="ace-icon">सुरक्षित दिन</th>
                                <th class="text-center">अवस्था</th>
                                <th class="ace-icon">कार्य</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DBModelList)
                            {
                            <tr>
                                <td class="ace-icon">@item.Id</td>
                                <td class="ace-icon">
                                    <i class="fa bigger-110 badge badge-yellow">@(item.HRCompany?.HRCompanyCode?.HRCompanyCodeTitle)</i>
                                </td>
                                <td>
                                    <i class="fa bigger-110">@(item.MasterLeaveTitle?.LeaveTitleNP)</i>
                                </td>
                                <td class="ace-icon">
                                    <i class="ace-icon fa bigger-110">@(item.MasterLeaveTitle?.LeaveShortTitle)</i>
                                </td>
                                <td class="ace-icon">
                                    <i class="ace-icon fa bigger-110 badge @(item.IsIncludeWeekend?"badge-success":"badge-danger")">@(item.IsIncludeWeekend ? "हो" : "होइन")</i>
                                </td>
                                <td class="ace-icon">
                                    <i class="ace-icon fa bigger-110 badge @(item.IsIncludePublicHoliday?"badge-success":"badge-danger")">@(item.IsIncludePublicHoliday ? "हो" : "होइन")</i>
                                </td>
                                <td class="ace-icon">
                                    <i class="ace-icon fa bigger-110 badge @(item.IsSaving?"badge-success":"badge-danger")">@(item.IsSaving ? "हो" : "होइन")</i>
                                </td>
                                <td class="ace-icon">
                                    <i class="ace-icon fa bigger-110 badge @(item.IsForMale?"badge-success":"badge-danger")">@(item.IsForMale ? "हो" : "होइन")</i>
                                </td>
                                <td class="ace-icon">
                                    <i class="ace-icon fa bigger-110 badge @(item.IsForFemale?"badge-success":"badge-danger")">@(item.IsForFemale ? "हो" : "होइन")</i>
                                </td>
                                <td class="ace-icon">
                                    <i class="ace-icon fa bigger-110 badge badge-info">@item.TotalLeaveDay</i>
                                </td>
                                <td class="ace-icon">
                                    <i class="ace-icon fa bigger-110 badge badge-info">@item.SavingLimitDay</i>
                                </td>
                                <td class="ace-icon">
                                    <i class="ace-icon @(item.IsActive==true?"fa fa-thumbs-up green":"fa fa-thumbs-down red") bigger-130" aria-hidden="true"></i>
                                </td>
                                <td class="ace-icon action-buttons">
                                    <a href="@Url.Action("_UpdateHRCompanyLeaveTypeAsync",new { id=item.Id,pageNumber=Model.PageNumber,pageSize=Model.PageSize,orderingBy=Model.OrderingBy,orderingDirection=Model.OrderingDirection,searchKey=Model.SearchKey})" data-ajax-model="">
                                        <i class="ace-icon fa fa-pencil green bigger-150" aria-hidden="true" title="Edit"></i>
                                    </a>
                                    <a href="@Url.Action("_ReadHRCompanyLeaveTypeAsync",new { id=item.Id,pageNumber=Model.PageNumber,pageSize=Model.PageSize,orderingBy=Model.OrderingBy,orderingDirection=Model.OrderingDirection,searchKey=Model.SearchKey})" data-ajax-model=""><i class="ace-icon fa fa-search-plus blue bigger-150" aria-hidden="true" title="View"></i></a>
                                    <a href="@Url.Action("_DeleteHRCompanyLeaveTypeAsync",new { id=item.Id,pageNumber=Model.PageNumber,pageSize=Model.PageSize,orderingBy=Model.OrderingBy,orderingDirection=Model.OrderingDirection,searchKey=Model.SearchKey})" data-ajax-model=""><i class="ace-icon fa fa-trash-o red bigger-150" aria-hidden="true" title="Delete"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div aria-live="polite" role="status" id="example_info" class="dataTables_info">
                    <div class="row">
                        <div class="col-md-4">Showing @(Model.DBModelList.PageCount < Model.DBModelList.PageNumber ? 0 : Model.DBModelList.FirstItemOnPage) to @Model.DBModelList.LastItemOnPage of @Model.DBModelList.TotalItemCount entries in @Model.DBModelList.PageCount Pages</div>
                        <div class="col-md-8 dataTables_paginate paging_simple_numbers" id="example_paginate">@Html.PagedListPager(Model.DBModelList, page => Url.Action("_ListHRCompanyLeaveTypeAsync", new { idHRCompany = Model.IdHRCompany, pageNumber = page, pageSize = Model.PageSize, orderingBy = Model.OrderingBy, orderingDirection = Model.OrderingDirection, searchKey = Model.SearchKey }))</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



