@model SystemViewModels.EmployeeManagement.HREmployeeLeaveManagementViewModelList
@using SystemStores.GlobalMethod;
@using SystemStores.ENUMData;
<div class="breadcrumbs ace-save-state">
    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <a class="nav-search-input" href="#" id="CreateHREmployeeLeaveManagement">
                    <i class="ace-icon fa fa-plus  nav-search-icon">@SystemGlobalMethod.GetButtonText(EnumGlobal.SubmitButtonText.Create)</i>
                </a>
            </span>
        </form>
    </div><!-- /.nav-search -->
</div>
@{ Html.RenderPartial("_ListHREmployeeLeaveManagementAsync");}

<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
        $.ajaxSetup({ cache: false });
            $('#CreateHREmployeeLeaveManagement').click(function (e) {
            var url;
                url = '/EmployeeManagement/HREmployeeLeaveManagement/_CreateHREmployeeLeaveManagementAsync?idHREmployee='+@Model.IdHREmployee + '&pageNumber=' +'@Model.PageNumber'+'&pageSize=' +'@Model.PageSize'+'&orderingBy=' +'@Model.OrderingBy'+'&orderingDirection=' +'@Model.OrderingDirection';
            $('#myModalContent').load(url, function () {
                $('#myModal').modal({
                    keyboard: true
                }, 'show');
                bindAjaxForm(this);
            });
            return false;
        });
        });
    });
</script>


