@model SystemViewModels.Reports.YearlyAttendanceViewModelList
<style type="text/css">
    table.r {
        border-collapse: collapse;
        width: 100%;
        overflow-x: scroll;
        display: block;
    }

    .r thead {
        background-color: #EFEFEF;
    }

    .r thead,
    .r tbody {
        display: block;
    }

    .r tbody {
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100hv)-100px;
    }

    .r th {
        text-transform: uppercase;
    }

    .r td,
    .r th {
        min-width: 70px;
        height: 35px;
        border: dashed 1px lightblue;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 70px;
    }

    .sat {
        background-color: #E5B555;
    }
</style>
<style>
    table.r {
        position: relative;
        background-color: #f3f3f3;
        overflow: hidden;
        border-collapse: collapse;
    }

    .r thead {
        position: relative;
        display: block;
        overflow: visible;
    }

        .r thead th {
            height: 53px;
            border: 1px solid #222;
        }

            .r thead th:nth-child(1) {
                position: relative;
                display: block;
                background-color: #efeff3;
            }

    .r tbody {
        position: relative;
        display: block;
        height: 30em;
        overflow: scroll;
    }

        .r tbody td {
            background-color: #efeff3;
            border: 1px solid #222;
        }

        .r tbody tr td:nth-child(1) {
            position: relative;
            display: block;
            background-color: #efeff3;
            height:53px;
        }
</style>
<script>
    $(document).ready(function () {
        $('.r tbody').scroll(function (e) {
            $('.r thead').css("left", -$(".r tbody").scrollLeft());
            $('.r thead th:nth-child(1)').css("left", $(".r tbody").scrollLeft());
            $('.r tbody td:nth-child(1)').css("left", $(".r tbody").scrollLeft());
        });
    });
</script>
<div id="replacetarget">
    <div id="content" class="content">
        <div class="dataTables_wrapper">
            <div id="mask-container">
                <div id="mask"></div>
                <div class="table-responsive">
                    <table class="table table-bordered r" id="example" style="width: 100%;">
                        <caption class="text-center" style="width:1000px; text-align:center;">
                            @Model.HeaderTitle
                        </caption>
                        <thead>
                            <tr>
                                <th class="text-center" style="min-width:150px;">महिना</th>
                                <th class="text-center">१</th>
                                <th class="text-center">२</th>
                                <th class="text-center">३</th>
                                <th class="text-center">४</th>
                                <th class="text-center">५</th>
                                <th class="text-center">६</th>
                                <th class="text-center">७</th>
                                <th class="text-center">८</th>
                                <th class="text-center">९</th>
                                <th class="text-center">१०</th>
                                <th class="text-center">११</th>
                                <th class="text-center">१२</th>
                                <th class="text-center">१३</th>
                                <th class="text-center">१४</th>
                                <th class="text-center">१५</th>
                                <th class="text-center">१६</th>
                                <th class="text-center">१७</th>
                                <th class="text-center">१८</th>
                                <th class="text-center">१९</th>
                                <th class="text-center">२०</th>
                                <th class="text-center">२१</th>
                                <th class="text-center">२२</th>
                                <th class="text-center">२३</th>
                                <th class="text-center">२४</th>
                                <th class="text-center">२५</th>
                                <th class="text-center">२६</th>
                                <th class="text-center">२७</th>
                                <th class="text-center">२८</th>
                                <th class="text-center">२९</th>
                                <th class="text-center">३०</th>
                                <th class="text-center">३१</th>
                                <th class="text-center">३२</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DBModel)
                            {
                                <tr>
                                    <td class="blue text-center" style="min-width:150px; height:53px;">
                                        <i class="ace-icon fa bigger-130">@item.NepaliMonth</i>
                                    </td>
                                    <td style="background-color:@item.C1 ;" class="text-center">@item.A1 </td>
                                    <td style="background-color:@item.C2 ;" class="text-center">@item.A2 </td>
                                    <td style="background-color:@item.C3 ;" class="text-center">@item.A3 </td>
                                    <td style="background-color:@item.C4 ;" class="text-center">@item.A4 </td>
                                    <td style="background-color:@item.C5 ;" class="text-center">@item.A5 </td>
                                    <td style="background-color:@item.C6 ;" class="text-center">@item.A6 </td>
                                    <td style="background-color:@item.C7 ;" class="text-center">@item.A7 </td>
                                    <td style="background-color:@item.C8 ;" class="text-center">@item.A8 </td>
                                    <td style="background-color:@item.C9 ;" class="text-center">@item.A9 </td>
                                    <td style="background-color:@item.C10;" class="text-center">@item.A10</td>
                                    <td style="background-color:@item.C11;" class="text-center">@item.A11</td>
                                    <td style="background-color:@item.C12;" class="text-center">@item.A12</td>
                                    <td style="background-color:@item.C13;" class="text-center">@item.A13</td>
                                    <td style="background-color:@item.C14;" class="text-center">@item.A14</td>
                                    <td style="background-color:@item.C15;" class="text-center">@item.A15</td>
                                    <td style="background-color:@item.C16;" class="text-center">@item.A16</td>
                                    <td style="background-color:@item.C17;" class="text-center">@item.A17</td>
                                    <td style="background-color:@item.C18;" class="text-center">@item.A18</td>
                                    <td style="background-color:@item.C19;" class="text-center">@item.A19</td>
                                    <td style="background-color:@item.C20;" class="text-center">@item.A20</td>
                                    <td style="background-color:@item.C21;" class="text-center">@item.A21</td>
                                    <td style="background-color:@item.C22;" class="text-center">@item.A22</td>
                                    <td style="background-color:@item.C23;" class="text-center">@item.A23</td>
                                    <td style="background-color:@item.C24;" class="text-center">@item.A24</td>
                                    <td style="background-color:@item.C25;" class="text-center">@item.A25</td>
                                    <td style="background-color:@item.C26;" class="text-center">@item.A26</td>
                                    <td style="background-color:@item.C27;" class="text-center">@item.A27</td>
                                    <td style="background-color:@item.C28;" class="text-center">@item.A28</td>
                                    <td style="background-color:@item.C29;" class="text-center">@item.A29</td>
                                    <td style="background-color:@item.C30;" class="text-center">@item.A30</td>
                                    <td style="background-color:@item.C31;" class="text-center">@item.A31</td>
                                    <td style="background-color:@item.C32;" class="text-center">@item.A32</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>





