@model SystemViewModels.SystemAuthentication.ForgotPasswordViewModel
@using SystemStores.ENUMData;
@using SystemStores.GlobalMethod;
<script src="~/Scripts/jquery.form.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/RequiredField.js"></script>
<script src="~/Scripts/CustomScript.js"></script>

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center container-height">
            <div class="left-wrap text-wrap p-4 p-lg-5 d-flex">
                <div class="text w-100">
                    <div class="text-center right-para">
                        <img src="~/images/logo.png" alt="" srcset="" height="70">
                        <p>
                            नेपाल सरकार</span>
                            <div class="horizantal-line"></div>
                        <p style="padding-top: 2em;">
                            <span class="second">
                                एकिकृत कार्यालय व्यबस्थापन प्राणली
                            </span>  <br>
                            <span class="third">
                                मा तपाईलाई स्वागत छ
                            </span>
                        </p>
                    </div>
                    <a href="https://doit.gov.np/en" target="_blank">
                        <p class="copyright">
                            &#169; सुचना प्रबिधी बिभाग
                        </p>
                    </a>
                </div>
            </div>
            <div class="login-wrap p-login-wrap py-4 py-lg-5">
                @using (Html.BeginForm("ForgotPassword", "Account", null, FormMethod.Post, new { @class = "signin-form", name = "ajaxForm", id = "ajaxForm", enctype = "multipart/form-data" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        <p class="login-text"><strong>लग-इन</strong></p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="p-input-label" for="name">पिआईएस कोड</label>
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Username)
                    </div>
                    <div class="form-group d-md-flex">
                        <div class="w-50 text-left">
                        </div>
                        <div class="w-50 text-md-right f-password">
                            @Html.ActionLink("पासवर्ड भुल्नु भयो?", "Login", new { @class = "p-input-label" })

                        </div>
                    </div>
                    <div class="form-group">
                        <input id="btnSubmit" class="form-control p-btn p-btn-primary submit px-3" type="submit" value="बुझाउनुहोस्" />

                    </div>

                }
            </div>

        </div>
    </div>
</section>

