@model SystemViewModels.EmployeeManagement.HREmployeeLoginViewModelList
@using PagedList.Mvc;
@{ 
    var RoleType = Model.SessionDetails.IdRoleType;
}
<div id="replacetarget">
    <div id="content" class="content">
        <div class="dataTables_wrapper">
            <div id="mask-container">
                <div id="mask"></div>
                <div class="table-responsive">
                    <table style="width: 100%;" aria-describedby="gbox_grid-table" role="grid" id="example" class="table table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th class="ace-icon">भाषा</th>
                                <th class="ace-icon">प्रयोगकर्ता नाम</th>
                                <th class="ace-icon">भूमिका</th>
                                <th class="ace-icon">लकआउट सफल</th>
                                <th class="ace-icon">लगइन असफल</th>
                                <th class="ace-icon">अवस्था</th>
                                @if (RoleType < 3)
                                {
                                <th class="ace-icon">कार्य</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                         @foreach (var item in Model.DBModelList)
                         {
                            <tr>
                                <td class="ace-icon">
                                    <i class="ace-icon  fa bigger-110  badge badge-info">@item.Language</i>
                                </td>
                                <td class="ace-icon">
                                    <i class="ace-icon fa bigger-110 badge badge-yellow">@item.UserName</i>
                                </td>
                                <td class="ace-icon">
                                    <i class="ace-icon fa bigger-110 badge badge-info">@item.MembershipProviders.FirstOrDefault(x => x.IdLogin == item.Id).HREmployeeRole.HRRoleTitle</i>
                                </td>
                                <td class="ace-icon">
                                    <i class="ace-icon @(item.LockOutEnabled?"fa fa-thumbs-up green" : "fa fa-thumbs-down red") bigger-130" aria-hidden="true"></i>
                                </td>
                                <td class="ace-icon">
                                    <i class="ace-icon fa bigger-110 badge badge-info">@item.AccessFailedCount</i>
                                </td>
                                <td class="ace-icon">
                                    <i class="ace-icon @(item.IsActive?"fa fa-thumbs-up green" : "fa fa-thumbs-down red") bigger-130" aria-hidden="true"></i>
                                </td>
                                @if (RoleType < 3)
                                {
                                    <td class="ace-icon action-buttons">
                                        <a href="@Url.Action("_ResetPasswordAsync",new { id=item.Id,pageNumber=Model.PageNumber,pageSize=Model.PageSize,orderingBy=Model.OrderingBy,orderingDirection=Model.OrderingDirection,searchKey=Model.SearchKey})" data-ajax-model="">
                                            <i class="ace-icon fa fa-key green bigger-150" aria-hidden="true" title="Reset Password"></i>
                                        </a>
                                        <a href="@Url.Action("_UpdateHREmployeeLoginAsync",new { id=item.Id,pageNumber=Model.PageNumber,pageSize=Model.PageSize,orderingBy=Model.OrderingBy,orderingDirection=Model.OrderingDirection,searchKey=Model.SearchKey})" data-ajax-model="">
                                            <i class="ace-icon fa fa-pencil green bigger-150" aria-hidden="true" title="Edit"></i>
                                        </a>
                                        <a href="@Url.Action("_ReadHREmployeeLoginAsync",new { id=item.Id,pageNumber=Model.PageNumber,pageSize=Model.PageSize,orderingBy=Model.OrderingBy,orderingDirection=Model.OrderingDirection,searchKey=Model.SearchKey})" data-ajax-model=""><i class="ace-icon fa fa-search-plus blue bigger-150" aria-hidden="true" title="View"></i></a>
                                    </td>
                                }
                            </tr>
                          }
                        </tbody>
                    </table>
                </div>
                <div aria-live="polite" role="status" id="example_info" class="dataTables_info">
                    <div class="row">
                        <div class="col-md-4">Showing @(Model.DBModelList.PageCount < Model.DBModelList.PageNumber ? 0 : Model.DBModelList.FirstItemOnPage) to @Model.DBModelList.LastItemOnPage of @Model.DBModelList.TotalItemCount entries in @Model.DBModelList.PageCount Pages</div>
                        <div class="col-md-8 dataTables_paginate paging_simple_numbers" id="example_paginate">@Html.PagedListPager(Model.DBModelList, page => Url.Action("_ListHREmployeeLoginAsync", new { idHREmployee = Model.IdHREmployee, pageNumber = page, pageSize = Model.PageSize, orderingBy = Model.OrderingBy, orderingDirection = Model.OrderingDirection, searchKey = Model.SearchKey }))</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

