@model SystemViewModels.SystemSecurity.SystemDetailViewModel
<script src="~/Scripts/jquery.form.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/RequiredField.js"></script>
@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.DataModel.Id)
@Html.HiddenFor(model => model.PageNumber)
@Html.HiddenFor(model => model.PageSize)
@Html.HiddenFor(model => model.OrderingBy)
@Html.HiddenFor(model => model.OrderingDirection)
@Html.HiddenFor(model => model.SearchKey)
@Html.HiddenFor(model => model.DataModel.Document)

<div class="row">
    
    <div class="col-md-12 col-sm-12 col-lg-12">
        <table class="table table-border table-hover">
            <colgroup>
                <col style="width:14%"/>
                <col style="width:1%"/>
                <col style="width:35%"/>
                <col style="width:14%"/>
                <col style="width:1%"/>
                <col style="width:35%"/>
            </colgroup>
            <tbody>
                <tr>
                    <th class="text-right"> @Html.LabelFor(model => model.DataModel.IdSystemDetailCategory, new { @class = "control-label" })</th>
                   <th>:</th>
                   <th>
                       @Html.DropDownListFor(model => model.DataModel.IdSystemDetailCategory, new SelectList(Model.DDLSystemDetailCategory, "Key", "Value"), new { @class = "form-control" })
                       @Html.ValidationMessageFor(model => model.DataModel.IdSystemDetailCategory)
                   </th>
                   <th class="text-right">@Html.LabelFor(model => model.DataModel.IsActive, new { @class = "control-label" })</th>
                    <th>:</th>
                    <th>
                        @Html.CheckBoxFor(model => model.DataModel.IsActive, new { @class = "form-control BSswitch" })
                        @Html.ValidationMessageFor(model => model.DataModel.IsActive)
                    </th>
                </tr>
                <tr>
                    <th class="text-right">  @Html.LabelFor(model => model.DataModel.Summary, new { @class = "control-label" })</th>
                    <th>:</th>
                    <th>
                        @Html.TextAreaFor(model => model.DataModel.Summary, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DataModel.Summary)
                    </th>
                    <th class="text-right"> @Html.Label("Select Document", new { @class = "control-label" })</th>
                    <th>:</th>
                    <th> <div class="form-control"><input type="file" name="FileToUpload" id="FileToUpload" /></div></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
