@model SystemViewModels.SystemSecurity.HRLanguageConversionViewModelList
@using PagedList.Mvc;
<div id="replacetarget">
    <div id="content" class="content">
        <div class="dataTables_wrapper">
            <div id="mask-container">
                <div id="mask"></div>
                <div class="table-responsive">
                    <table style="width: 100%;" aria-describedby="gbox_grid-table" role="grid" id="example" class="table table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th class="ace-icon">आईडी</th>
                                <th>अंग्रेजी</th>
                                <th>नेपाली</th>
                                <th>मैथली</th>
                                <th>नेवारी</th>
                                <th>अन्य</th>
                                <th class="text-center">आई.पी</th>
                                <th>सिर्जना गर्ने</th>
                                <th>सिर्जना मिति</th>
                                <th>अपडेट गर्ने</th>
                                <th>अपडेट मिति</th>
                                <th class="ace-icon">कार्य</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DBModelList)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.English</td>
                                    <td>@item.Nepali</td>
                                    <td>@item.Maithali</td>
                                    <td>@item.Newari</td>
                                    <td>@item.Other</td>
                                    <td>@item.TerminalIP</td>
                                    <td>@item.CreatedBy</td>
                                    <td>@item.CreatedOn.ToShortDateString()</td>
                                    <td>@item.UpdatedBy</td>
                                    <td>@(string.Format("{0:yyyy-MM-dd}", item.UpdatedOn))</td>
                                    <td class="ace-icon action-buttons">
                                        <a href="@Url.Action("_UpdateHRLanguageConversionAsync",new { id=item.Id,pageNumber=Model.PageNumber,pageSize=Model.PageSize,orderingBy=Model.OrderingBy,orderingDirection=Model.OrderingDirection,searchKey=Model.SearchKey})" data-ajax-model="">
                                            <i class="ace-icon fa fa-pencil green bigger-150" aria-hidden="true" title="Edit"></i>
                                        </a>
                                        <a href="@Url.Action("_ReadHRLanguageConversionAsync",new { id=item.Id,pageNumber=Model.PageNumber,pageSize=Model.PageSize,orderingBy=Model.OrderingBy,orderingDirection=Model.OrderingDirection,searchKey=Model.SearchKey})" data-ajax-model=""><i class="ace-icon fa fa-search-plus blue bigger-150" aria-hidden="true" title="View"></i></a>
                                        <a href="@Url.Action("_DeleteHRLanguageConversionAsync",new { id=item.Id,pageNumber=Model.PageNumber,pageSize=Model.PageSize,orderingBy=Model.OrderingBy,orderingDirection=Model.OrderingDirection,searchKey=Model.SearchKey})" data-ajax-model=""><i class="ace-icon fa fa-trash-o red bigger-150" aria-hidden="true" title="Delete"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                
                <div aria-live="polite" role="status" id="example_info" class="dataTables_info">
                    <div class="row">
                        <div class="col-md-4">Showing @(Model.DBModelList.PageCount < Model.DBModelList.PageNumber ? 0 : Model.DBModelList.FirstItemOnPage) to @Model.DBModelList.LastItemOnPage of @Model.DBModelList.TotalItemCount entries in @Model.DBModelList.PageCount Pages</div>
                        <div class="col-md-8 dataTables_paginate paging_simple_numbers" id="example_paginate">@Html.PagedListPager(Model.DBModelList, page => Url.Action("_ListHRLanguageConversionAsync", new { pageNumber = page, pageSize = Model.PageSize, orderingBy = Model.OrderingBy, orderingDirection = Model.OrderingDirection, searchKey = Model.SearchKey }))</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
